[Unit]
Description=Cassandra
Requires=mosquitto.service

[Service]
Type=forking
ExecStart=/home/skynet/cassandra/bin/cassandra -p /var/lib/cassandra/cassandra.pid
PIDFile=/var/lib/cassandra/cassandra.pid
User=skynet
TimeoutSec=300
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
